<!DOCTYPE html>
<html >
	<head>
		<link rel="stylesheet" href="style.css">
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/script.js"></script>
	</head>
	<body ng-app="myModule">
		<div ng-controller = "myController">
			Search name: <input type="text" placeholder="Search name" ng-model="searchText.name" />					
			Search city: <input type="text" placeholder="Search city" ng-model="searchText.city" />	
			<input type="checkbox" ng-model="exactMatch"> Exact match				
			<br /> 
			<br />			
			<table>
				<thead>
					<th>Name</th>					
					<th>Gender</th>
					<th>Salary</th>					
					<th>City</th>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter:searchText: exactMatch">
						<td>{{ employee.name }}</td>						
						<td>{{ employee.gender }}</td>	
						<td>{{ employee.salary }}</td>						
						<td>{{ employee.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>		
	</body>
</html>	